.employee_frm{
    background-color: magenta;
    padding: 30px;
    width: 45%;
    text-align: center;
    border-radius: 10px;
}
.employee_frm input{
    background-color: transparent;
    width: 100%;
    box-shadow: 10px 10px blue;
    border-radius: 20px;
    border: none;
    outline: none;
}
.emp_form{
    background-color: #2b2f32;
    padding-left: 40%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.employee_frm .emp_list_table button{
    background-color: green;
    width: 40%;
    border-radius: 10px;
}
.tabs{
    padding: 190px;
    background-image: url("images/ski.jpeg");
    background-position: center;
}
.emp_list_table thead tr td{
    color: cyan;
    border: solid 4px greenyellow;
}
.emp_list_table tbody tr td{
    color: white;
    border: solid 4px yellow;
    font-family: cursive;
    font-size: 30px;
}
.emp_list_table button{
    background-color: deeppink;
    box-shadow: 2px 2px sandybrown;
    border-radius: 20px;
    font-family: sans-serif;
    padding: 7px;
}